<!DOCTYPE html>
<html>
<head>
    <title>murmuring-caverns-34007</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />
    <!--[if lt IE 9]><script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
</head>
<body>

<div class='header'>
    <nav class='main'>
        <li class='title'><a href='/'>murmuring-caverns-34007</a></li>
        <li class='fork'><a href='https://github.com/Evgenii-Evgenevich/murmuring-caverns-34007'>View On GitHub</a></li>
    </nav>
</div>

<div class='wrapper'>
    <section class='content_wrap main'>

        <% if (locals.home) { %>
            <section id='index' class='inner'>
                <% if (session.authenticated) { %>
                    <h2>Hello, <%= session.username %></h2>
                    <p><a href='/signout'>sign out</a></p>
                <% } else { %>
                    <p><a href='/auth/facebook'>auth by facebook</a></p>
                    <p><a href='/auth/google'>auth by google play</a></p>
                    <p><a href='/signin/temp'>sign in</a></p>
                    <p><a href='/signup/temp'>sign up</a></p>
                <% } %>
            </section>
        <% } %>

        <% if (locals.signin) { %>
            <% if (session.authenticated) { %>
            <% } else { %>
                <section id='signin' class='inner'>
                    <p>
                        <form action='/signin/temp' method='post'>
                            <table>
                                <tr>
                                    <td><label>Yours Name:</label></td>
                                    <td><input type='text' name='name'/></td>
                                </tr>
                                <tr>
                                    <td><label>Yours Password:</label></td>
                                    <td><input type='password' name='pass'/></td>
                                </tr>
                                <tr>
                                    <td><%= locals.message %></td>
                                    <td><input style='float: right' type='submit' value='sign in'/></td>
                                </tr>
                            </table>
                        </form>
                    </p>
                </section>
            <% } %>
        <% } %>

        <% if (locals.signup) { %>
            <% if (session.authenticated) { %>
            <% } else { %>    
                <section id='signup' class='inner'>
                    <p>
                        <form action='/signup/temp' method='post'>
                            <table>
                                <tr>
                                    <td><label>Yours Name:</label></td>
                                    <td><input type='text' name='name'/></td>
                                </tr>
                                <tr>
                                    <td><label>Yours Password:</label></td>
                                    <td><input type='text' name='pass' value='<%= locals.gpass %>'/></td>
                                </tr>
                                <tr>
                                    <td><%= locals.message %></td>
                                    <td><input style='float: right' type='submit' value='sign up'/></td>
                                </tr>
                            </table>
                        </form>
                    </p>
                </section>
            <% } %>
        <% } %>

        <div class='title'>
            <hr>
            <h6 class='credits'>Project maintained by <a href='https://github.com/Evgenii-Evgenevich'>Evgenii Evgenevich</a></h6>
        </div>
    </section>
</div>


</body>
</html>
