<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class='container'>
    <a href='/' class='lang-logo'><img src='/lang-logo.png'></a>
    <h1>murmuring-caverns-34007</h1>
    <p>This is a sample Node application deployed to Heroku</p>
    <a type='button' class='btn btn-lg btn-primary' href='https://github.com/Evgenii-Evgenevich/murmuring-caverns-34007'><span class='glyphicon glyphicon-download'></span> Source on GitHub</a>
</div>


</body>
</html>
